.imageInCart{
    width: 132px;
    height: 132px;
    margin-right: 25px;
}
.cartItem{
    /* padding: 35px 45px 0 35px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.488);
    width: 624px;
    margin: auto;
    margin-top: 35px;
    padding-bottom: 5px;
    display: flex;
}
.p-infocart{
    color: black;
    margin: auto;
}
.deletebtn{
    border: 0;
    cursor: pointer;
    margin-left: 20px;
}
.p-infocart-title{
    font-family: 'Unbounded-Medium';
    font-size: 15px;
    margin-bottom: 15px;
    width: 350px;
}
.p-infocart-price{
    font-size: 13px;
}
.delete-update{
    margin-left: auto;
    margin-top: 34px
}
.inputQuantity{
    height: 30px;
    width: 60px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 10px;
}
.emptycart-p{
    margin: 50px 0 0 269px;
    color: rgba(0, 0, 0, 0.415);
    font-size: 20px;
}