.order-image{
    width: 110px;
    height: 110px;
    border-radius: 2px;

    /* padding-right: 25px; */
}
.order-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}

.order-item p{
margin: 0;
font-family: 'Unbounded-Light';
font-size: 14px;
}
.orderitem-title{
width: 160px;
/* padding-right: 90px; */

}
.quantity{
    /* padding-right: 65px; */

}
.order-price{

}