.Catalog{
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    width: 1300px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.Catalog .productCard{
margin-right: 42px;
margin-bottom: 42px;

animation-name: move_up;
animation-duration: 1s;
animation-fill-mode: forwards;

}

@keyframes move_up{
    0%{
        translate: translate(0px, 0px);
        opacity: 0.6;
    }
    100%{
        transform: translate(0px, -10px);
        opacity: 1;
    }
}