
  .header{
    /* position: relative; */
    display: flex;
    margin: auto;
    /* left: 220px; */
    /* z-index: 10; */

}

.header-background{
    position: absolute;
    opacity: 0.4;
    background-color: white;
    mix-blend-mode: overlay ;
    border-radius: 0 0 20px 20px;
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 12px 30px 2px rgb(0, 0, 0, 0.3);
    margin: auto;
    width: 100%;
    height: 110px;
    display: flex;
    pointer-events: none;
    /* z-index: 1; */
}

/* Стиль логотипа чтобы не зернило */

.logo{
    mask-composite: subtract;
    margin: 7px 0px 5px 35px;
    /* opacity: 0.9; */
    /* mix-blend-mode: difference ; */
}

.header-li {
    list-style-type: none;
    padding-left: 17px;
}
.header-li::before {
    content: "⯌";
    padding-right: 20px;
}
.header-li:first-child:before {
    content: "";
    padding-right: 20px;
}

.header-li a{
    color: white;
    text-decoration: none;
    font-family: 'Unbounded-Light';

}

.header-ul{
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    /* padding-right: 20px; */
    margin-top: 39px;
}   

.header-nav{
    display: flex;
    margin-left: auto;
    margin-right: 18px;
}

.header-ul2{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 39px;
    margin-left: 18px;
}
.liauth a{
text-decoration: none;
color: #3E01FF;
background-color: white;
padding: 7px 15px;
border-radius: 10px;
margin-right: 15px;
font-family: 'Unbounded-Medium';
}
.header-li2{
    text-decoration: none;
    margin-right: 25px;
    position: relative;
    /* margin-left: 5px; */
}
.span-header{
    border-radius: 100%;
    background-color: black;
    color: #B4FED9;
    padding: 5px 7px;

    font-family: 'Unbounded-Light';
    text-decoration: none;
    position: absolute;
    top: -14px;
    left: 22px;

}
.span-header p{
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #B4FED9;

}
.header-li2 a{
    text-decoration: none;  
}
button {
    color: 0;
    background: 0; 
}

.pdrawer{
    color: #3E01FF;

}

:where(.css-dev-only-do-not-override-1v5z42l).ant-drawer .ant-drawer-body{
    padding: 0;
    height: 100vh;
    position:relative;
    overflow: auto;
}
.ant-drawer-body{
    height: 100vh;   
    position:relative;
    overflow: auto;
}

.subtotal{
    box-shadow: 0 -3px 10px #0000001a;
    width: 100%;
    height: 200px;
    position: sticky;
    /* border: 2px dashed red; */
    /* top: auto; */
    bottom: 0;
    z-index: 1000;
    background-color: white;
    /* margin: auto; */
}
h2 {
    z-index: 5;
}