.ProductCartContainer{
    width: 1500px;
    margin: auto;
    margin-bottom: 162px;
}

.slick-prev::before{
    /* "⟵" */
    content: url(../../../public/nazad.svg);
    font-size: 35px;
}
.slick-next::before{
    /* "⟶" */
    content: url(../../../public/vpered.svg);
    font-size: 35px;
}
.artists-arr .slick-prev{
    left: 397px;
    top: 590px;
}
.artists-arr .slick-next{
    top: 590px;
    right: 630px;
}